{% extends 'main/base.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'base/home.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Homepage
{% endblock %}

{% block top-bar %}
{% if request.user.is_authenticated %}
<a class="nav-link" href="#">Welcome, {{user.username}}</a>
<a href="/logout"> 
  <button> Logout</button>
</a>
<span class="spacer-s"></span>
<span class="spacer-s"></span>
{% else %}
<button class="login" id="student-login-button">Student Login</button>
<span class="spacer-s"></span>
<span class="spacer-s"></span>
<button class="login" id="instructor-login-button">Instructor Login</button>
<span class="spacer-s"></span>
<span class="spacer-s"></span>
<button class="signup" id="register-button">Sign Up!</button>
<span class="spacer-s"></span>
{% endif %}
{% endblock %}

{% block content %}
<p class="tagline" id="tagline-1">Learning...</p>
<p class="tagline" id="tagline-2">One question<br>at a time.</p>
{% endblock %}