{% extends 'main/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main/home.js' %}" defer></script>
    <link rel="stylesheet" href="../../static/css/home.css">
{% endblock scripts %}

{% block title %}
Home
{% endblock %} 

{% block loggedin %}
<!-- Modal -->
<div class="modal fade" id="courseStartModal" tabindex="-1" role="dialog" aria-labelledby="courseStartModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" id="modal-close-button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="course-form">
                {% csrf_token %}
                <div class="modal-body" id="modal-body-confirm"></div>
                <div class="modal-footer">
                    <button type="submit" id="start-button" class="btn btn-success">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="d-flex justify-content-between m-4">
    <section>
        <div class="d-flex flex-wrap">
            {% if courses %}
            {% for each in courses %}
                <div class="card course-card m-3">
                    <img
                        src="../../static/cardImage.jpg"
                        alt="..."
                        style="height:40%"
                    />
                    <div class="card-body">
                        <a class="card-title stretched-link" href="{% url 'course:each-courses' each.course_id %}" style="text-decoration:none">{{ each.name }}</a>
                        <p class="card-title course-card-id">{{ each.course_id }}</p>
                    </div>
                </div>
            {% endfor %} 
            {% endif %}
            <!-- STUDENT'S NEW COURSE CARD -->
            {% if request.user.userprofile.student_id != "" %}
                <div class="card course-card m-3">
                    <div class="card-body">
                        <h5 class="card-title course-card-id">New Course</h5>
                        <p class="card-text ">
                            If you have an access code that you received from
                            your instructor, enter it here.
                        </p>
                        <form id="cr-form">
                            <input type="text" id="cr-code" name="cr-code" style="width : 100%;" required>
                            <div class="d-grid gap-2 mt-2">
                                <button
                                    type="submit"
                                    class="btn btn-primary">Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
            <!-- INSTRUCTOR'S CREATE COURSE CARD -->
            {% if request.user.userprofile.instructor_id != "" %}
                <div class="card course-card m-3">
                    <div class="card-body">
                        <h5 class="card-title course-card-id">Create Course</h5>
                        <p class="card-text">
                            Press here to create a new course.
                        </p>
                        <div class="d-grid gap-2 mt-2">
                            <a href="{% url 'course:course-create' %}" class="btn btn-primary">Create</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    {% if request.user.userprofile.student_id != "" %}
    <!-- Today's Question Section -->
        <section class="col-3 d-flex m-2 justify">
            <div class="calendar flex-fill light">
                <div class="calendar_header">
                    <h1 class = "header_title">New Questions</h1>
                </div>
                <div class="calendar_plan">
                    <div class="cl_plan">
                        <div class="cl_title">Today</div>
                        <div class="cl_copy">{{ today }}</div>
                    </div>
                </div>
                <div class="calendar_events">
                    {% if questions_to_display %}
                        {% for q, noti in questions_to_display.items %}
                            <hr />
                            <div class="event_item">
                                <div class="ei_Dot dot_active"></div>
                                <div class="ei_Title">{{ q.text }}</div>
                                <div class="ei_Copy">
                                    <a class="stretched-link" 
                                    href="{% url 'course:questions:question-view' pk=q.section.course.course_id id=q.section.section_id qid=q.question_id %}"
                                    ></a>
                                    <b>{{ q.section.course }}:</b> {{ q.section }}
                                    <br />
                                    Set Reminder: {{noti.time_to_send}}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
</section>
{% endblock %} 

{% block notloggin %}
<!-- DEFAULT (not logged in) -->
<header
    class="py-5 intro-image"
    style="background-image: url('../../static/cardImage-1.jpg')"
>
</header>
<section class="bg-light text-center flex-fill intro-statement">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <h3>More Info</h3>
                    <p class="lead mb-0">
                        This is where there will be more info 1!
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <h3>More Info 1</h3>
                    <p class="lead mb-0">
                        This is where there will be more info 1!
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <h3>More Info 1</h3>
                    <p class="lead mb-0">
                        This is where there will be more info 1!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
