{% extends 'main/base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block top-bar %}
<a href="./index.html" class="login">Student Login</a>
<span class="spacer-s"></span>
<span class="spacer-s"></span>
<a href="./index.html" class="login">Instructor Login</a>
<span class="spacer-s"></span>
<span class="spacer-s"></span>
<button class="signup">Sign Up!</button>
<span class="spacer-s"></span>
{% endblock %}

{% block content %}
<p class="tagline" id="tagline-1">Learning...</p>
<p class="tagline" id="tagline-2">One question<br>at a time.</p>
{% endblock %}