{% extends 'main/base.html' %} 
{% block content %}

<div class="container">
    <div class="row py-5">
        <div class="col-md-6">
            <section id="bc">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {% if request.user.userprofile.student_id == "" and request.user.userprofile.instructor_id != "" %}
                            <a href="{% url 'main:home' %}">Instructor Home</a>
                            {% elif request.user.userprofile.instructor_id == "" and request.user.userprofile.student_id != "" %}
                            <a href="{% url 'main:home' %}">Student Home</a>
                            {% else %}
                            <a href="{% url 'main:home' %}">TA Home</a>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Courses
                        </li>
                    </ol>
                </nav>
            </section>

            <h1 class="text-info mt-3">Courses</h1>
            {% if course %}

            <div class="list-group">
                {% for each in course %}
                <a
                    class="list-group-item list-group-item-action"
                    href="{% url 'course:each_courses' each.pk %}"
                    >{{ each }}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
