{% extends 'main/base.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'question/question.js' %}" defer></script>
{% endblock scripts %}

{% block title %} {{ q.ques }} {% endblock %}

{% block content %}

<div class="col text-right" id="timer-box">00:00</div>

<a href="{% url 'course:questions:qb-view' pk=q.question_bank.course.course_id id=q.question_bank.question_bank_id %}" class="btn btn-danger">go back</a>

<hr>
<form id="question-form" class="mt-3 mb-3">
  {% csrf_token %}
  <div id="question-box">
    <div class="mb-2">
        <h3 id="question">{{ q.ques }}</h3>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3">save</button>
</form>
<div id="result-box"></div>
{% endblock %}

