@font-face {
    font-family: "Aharoni";
    src: url(./ahronbd.ttf);
}

@font-face {
    font-family: "DejaVu";
    src: url(./DejaVuSans.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(./Raleway-SemiBold.ttf);
}

@font-face {
    font-family: "Lemon";
    src: url(./LemonMilk.otf);
}

.navbar-custom {
    background-color:#102D54;
}

.btn-customs{
    background-color:white;

    border-color:#ced4da;

}