@font-face {
    font-family: "Aharoni";
    src: url(./ahronbd.ttf);
}

@font-face {
    font-family: "DejaVu";
    src: url(./DejaVuSans.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(./Raleway-SemiBold.ttf);
}

@font-face {
    font-family: "Lemon";
    src: url(./LemonMilk.otf);
}

.navbar-custom {
    background-color:black;
}

.btn{
    border-radius: 0;
}

.main-page{
    background-color: #f5f7f8;
}

.course-card {
    height: 250px;
    width: 275px;
}

.course-card:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,.14)
}

.card {
    border-radius: 0;
}

.form_Input {
    border-radius: 0;
}

