{% extends 'main/base.html' %}

{% block title %} Create a Section {% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="pt-4">
        <form method="POST" action="{% url 'course:questions:create-section' pk=pk %}" class="form-grp">
          {% csrf_token %}
          {{ form.as_p }}
          {{ form.media }}
          <button type="submit" class= "btn btn-success">Create a Section</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

