{% extends 'main/base.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'question_banks/qb.js' %}" defer></script>
{% endblock scripts %}

{% block title %} {{qb.topic}} {% endblock %}

{% block content %}

<h3>{{qb.topic}}</h3>

<a href="{% url 'course:each_courses' pk=qb.course.course_id %}" class="btn btn-danger">go back</a>

<p>For submitting, make sure the user your logged into is a student (i.e. has student_id filled when registered).</p>
<div id="closed-box">
  <h4><span class="badge bg-danger">Closed</span></h4>
</div>
<div id="open-box">
  <h4><span class="badge bg-warning">Open</span></h4>
</div>
<div id="upcoming-box">
  <h4><span class="badge bg-primary">Not available</span></h4>
</div>
{% endblock %}

