{% extends 'main/base.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'question_banks/qb.js' %}" defer></script>
{% endblock scripts %}

{% block title %} {{qb.topic}} {% endblock %}

{% block content %}

<div class="row">
  <div class="col">
    <h3>{{qb.topic}}</h3>
  </div>
  <div class="col text-right" id="timer-box"></div>
</div>

<a href="{% url 'question_banks:main-qb-view' %}" class="btn btn-danger">go back</a>

<p>For submitting, make sure the user your logged into is a student (i.e. has student_id filled when registered).</p>
<hr>
<form id="qb-form" class="mt-3 mb-3">
  {% csrf_token %}
  <div id="qb-box"></div>>
  <button type="submit" class="btn btn-primary mt-3">save</button>
</form>
<div id="score-box"></div>
<div id="result-box"></div>
{% endblock %}

